# Workshop: Types, Variables and Functions

### January 30, 2022

## Problem 1: Failing on purpose

Adapted from Think Python Problems 1.1 (https://greenteapress.com/thinkpython2/html/thinkpython2002.html#sec14) and 2.1 (https://greenteapress.com/thinkpython2/html/thinkpython2003.html#sec25)

Let's have a look at some different ways that things can go wrong in a line of Python code, so that you'll recognize common errors "in the wild".

Do each of the following, making note of what happens (and try to explain why!).

1. When printing, what happens if you leave out one of the parentheses, or both?

In [8]:
print(10

SyntaxError: unexpected EOF while parsing (1522638307.py, line 1)

2. If you are trying to print a string, what happens if you leave out one of the quotation marks, or both?

In [23]:
print (time)

NameError: name 'time' is not defined

3. You can use a minus sign to make a negative number like -2. What happens if you put a plus sign before a number? What about `2++2`?

In [26]:
2++2# CODE GOES HERE.

4

4. In math notation, leading zeros are ok, as in 09. What happens if you try this in Python? What about 011?

In [10]:
011# CODE GOES HERE.

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3898848811.py, line 1)

5. What happens if you have two values with no operator between them?

In [27]:
2 4# CODE GOES HERE.

SyntaxError: invalid syntax (719869234.py, line 1)

In [29]:
10 * 'time'

'timetimetimetimetimetimetimetimetimetime'

6. Weâ€™ve seen that `n = 42` is legal. It's just variable assignment. What about `42 = n`?

In [12]:
42=n# CODE GOES HERE.

SyntaxError: cannot assign to literal (4136413886.py, line 1)

7. How about `x = y = 1`?

In [13]:
x=y=1# CODE GOES HERE.

8. In some languages every statement ends with a semi-colon, ; (for example, Java and C require this). Other languages require semi-colons in some contexts, but not others (R is like this). What happens if you put a semi-colon at the end of a Python statement?

In [14]:
n=42;# CODE GOES HERE.

9. What if you put a period at the end of a statement?

In [15]:
n=42.# CODE GOES HERE.

10. In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

In [18]:
xy# CODE GOES HERE.

NameError: name 'xy' is not defined

11. What happens if you try to reference (i.e., retrieve the value of) a variable that you haven't declared yet? For exmaple, what happens if you write `2*does_not_exist`?

In [19]:
2*does_not_exist# CODE GOES HERE.

NameError: name 'does_not_exist' is not defined

## Problem 2: Solving a word problem

Adapted from Think Python problem 2.2 (https://greenteapress.com/thinkpython2/html/thinkpython2003.html#sec25)

Okay, time to very briefly relive the nightmare of word problems (https://en.wikipedia.org/wiki/Word_problem_(mathematics_education)), not to be confused with word problems (https://en.wikipedia.org/wiki/Word_problem_(mathematics)):

1. Suppose the cover price of a book is \\$24.95, but bookstores get a 40\% discount. Shipping costs \\$3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost (i.e., the total amount that the bookstore has to pay) for 60 copies? Use Python as a calculator to find the answer.

In [43]:
p=24.95
n=60
0.6*p*n+3+0.75*(n-1)

945.4499999999999

2. Generalize the above by writing a function `wholesale(ncopies, covprice, discount, initialship, addlcost)` that computes the wholesale cost of ordering `ncopies` (a non-negative integer) books with cover price `covprice` (a positive float), at a bookstore discount rate `discount` (a float between 0.0 and 1.0), with a shipping cost of `initialship` (a non-negative float) for the first copy and a shipping cost of `addlcost` (a non-negative float), and returns the answer as a float.

In [49]:
def wholesale( ncopies, covprice, discount, initialship, addlcost ):
    print(ncopies*covprice*(1-discount)+initialship+addlcost*(ncopies-1))

In [52]:
def wholesale( ncopies, covprice, discount, initialship, addlcost ):
    bookcost= ncopies*covprice*(1-discount)
    shippingcost = initialship + addlcost*(ncopies-1)
    return bookcost+shippingcost

In [53]:
wholesale( 60, 24.95, 0.4, 3, .75) #floating point

945.4499999999999

3. Now, take your function from above and try giving the "wrong" arguments. For example, what happens if you set the discount to be the string `cat`? What if you make `covprice` a negative number?

In [46]:
wholesale( 60, 24.95, cat, 3, .75)

NameError: name 'cat' is not defined

In [47]:
wholesale( 60, -24.95, 0.4, 3, .75)

-850.9499999999999

In a few lectures, we'll talk about ways to avoid these weird situations by adding <b>error checking</b> to our code.

## Problem 3: First Class Functions

Python has what are called *first class functions*. That is a fancy way of saying that variables can have a function value just as easily as they can have, say, a string value or an integer value.

Here's an illustration.

In [40]:
def silly_function():
    print('Go Badgers!')
    
x = silly_function

In [41]:
x

1. We just created a variable called `x`. What is its value?

Answer here (or just say the answer to yourself)

x stores the function 'silly_function' as its value.

2. What do you think will happen if we retrieve the value of the variable `x`? After making a prediction, try it.

In [48]:
x

<function silly_function at 0x7fd6a8070dc0>

3. What do you think will happen if we write `x()`? After making a prediction, try it.

In [54]:
x()

Go Badgers!

4. Now let's get fancy. Write a function `do_twice` that takes a single function as its argument, and calls that function twice. That is, if `f` is a function, `do_twice(f)` calls the function `f` twice. You may assume that the function `f` takes no arguments, i.e., is called as `f()`.

In [55]:
def do_twice( f ):
    f()
    f()

In [56]:
do_twice(x)

Go Badgers!
Go Badgers!

Use `do_twice` to call `silly_function()` twice, thus printing the string `'Go Badgers!'` twice.

In [57]:
do_twice(silly_function)

Go Badgers!
Go Badgers!

We'll have a lot more to say about this when we talk about functional programming in a few weeks. For now, it's just an interesting quirk of variables in Python (actually, most programs support this-- Java, C/C++, MATLAB, R...). The "name" that refers to a function is called a *function handle*. It's a way to refer to a function without calling it!