In [1]:
example_dict = dict()
example_dict['cat'] = 2.718
example_dict['dog'] = 2.718
example_dict['goat'] = 35
example_dict[12] = 'one'
example_dict[3.1415] = [1,2,3]

In [2]:
example_dict['goat']

35

In [3]:
example_dict['cat']

2.718

In [4]:
example_dict['dog']

2.718

In [5]:
example_dict[3.1415]

[1, 2, 3]

In [6]:
example_dict[12]

'one'

In [7]:
example_dict['bird']

KeyError: 'bird'

In [1]:
netid2name = dict()
netid2name['aeinstein'] = 'Albert Einstein'
netid2name['kyfan'] = 'Ky Fan'
netid2name['enoether'] = 'Emmy Noether'
netid2name['cshannon'] = 'Claude Shannon'

In [2]:
netid2name['cshannon']

'Claude Shannon'

In [3]:
netid2name['enoether']

'Emmy Noether'

In [4]:
netid2name['enoether'] = 'Amalie Emmy Noether'
netid2name['enoether']

'Amalie Emmy Noether'

In [5]:
netid2name

{'aeinstein': 'Albert Einstein',
 'cshannon': 'Claude Shannon',
 'enoether': 'Amalie Emmy Noether',
 'kyfan': 'Ky Fan'}

In [13]:
example_dict

{12: 'one', 3.1415: [1, 2, 3], 'cat': 2.718, 'dog': 2.718, 'goat': 35}

In [14]:
netid2name

{'aeinstein': 'Albert Einstein',
 'cshannon': 'Claude Shannon',
 'enoether': 'Amalie Emmy Noether',
 'kyfan': 'Ky Fan'}

In [15]:
netid2name = {'aeinstein': 'Albert Einstein',
 'cshannon': 'Claude Shannon',
 'enoether': 'Amalie Emmy Noether',
 'kyfan': 'Ky Fan'}

In [16]:
netid2name['kyfan']

'Ky Fan'

In [17]:
netid2name

{'aeinstein': 'Albert Einstein',
 'cshannon': 'Claude Shannon',
 'enoether': 'Amalie Emmy Noether',
 'kyfan': 'Ky Fan'}

In [18]:
len(netid2name)

4

In [19]:
d = dict()
len(d)

0

In [20]:
netid2name

{'aeinstein': 'Albert Einstein',
 'cshannon': 'Claude Shannon',
 'enoether': 'Amalie Emmy Noether',
 'kyfan': 'Ky Fan'}

In [21]:
'akolmogorov' in netid2name

False

In [22]:
'enoether' in netid2name

True

In [23]:
from random import randint
listlen = 1000000
list_of_numbers = listlen*[0]
dict_of_numbers = dict()
for i in range(listlen):
    n = randint(1000000,9999999)
    list_of_numbers[i] = n
    dict_of_numbers[n] = 1

In [24]:
8675309 in list_of_numbers

False

In [25]:
1240893 in list_of_numbers

False

In [26]:
8675309 in dict_of_numbers

False

In [27]:
1240893 in dict_of_numbers

False

In [28]:
import time
start_time = time.time()
8675309 in list_of_numbers
time.time() - start_time

0.023118019104003906

In [29]:
start_time = time.time()
8675309 in dict_of_numbers
time.time() - start_time

0.0001220703125

In [30]:
len(dict_of_numbers)

946528

In [31]:
len(list_of_numbers)

1000000

In [34]:
# NOTE: This block is supposed to throw an error. Your HW involves a problem where you will fix it.
list_of_words = ['boat', 'coat', 'float', 'goat']
wdcounts = dict()
for w in list_of_words:
    wdcounts[w] += 1

KeyError: 'boat'

In [35]:
mixed = [1, 'two', 3.0, [4,5] ]
mixed.sort()
mixed

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
mixed = [1, 'two', 3.0, [4,5] ]
sorted(mixed)


mixed=[1,'two',3,'four',5]
mixed.sort()
mixed

TypeError: '<' not supported between instances of 'str' and 'int'

In [37]:
1 < 'dog'

TypeError: '<' not supported between instances of 'int' and 'str'

In [38]:
wdcnt = dict()
tennyson = ''' Half a league, half a league,
Half a league onward,
All in the valley of Death
   Rode the six hundred.'''
for w in [w.strip('",.').lower() for w in tennyson.split()]:
    wdcnt[w] = wdcnt.get(w,0) + 1

In [39]:
for w in wdcnt:
    print(w, wdcnt[w])

half 3
a 3
league 3
onward 1
all 1
in 1
the 2
valley 1
of 1
death 1
rode 1
six 1
hundred 1

In [40]:
netid2name

{'aeinstein': 'Albert Einstein',
 'cshannon': 'Claude Shannon',
 'enoether': 'Amalie Emmy Noether',
 'kyfan': 'Ky Fan'}

In [41]:
name2netid = dict()
for uname in netid2name:
    truename = netid2name[uname]
    name2netid[truename] = uname
name2netid

{'Albert Einstein': 'aeinstein',
 'Amalie Emmy Noether': 'enoether',
 'Claude Shannon': 'cshannon',
 'Ky Fan': 'kyfan'}

In [42]:
name2netid['Amalie Emmy Noether']

'enoether'

In [43]:
print(wdcnt)

{'half': 3, 'a': 3, 'league': 3, 'onward': 1, 'all': 1, 'in': 1, 'the': 2, 'valley': 1, 'of': 1, 'death': 1, 'rode': 1, 'six': 1, 'hundred': 1}

In [44]:
wdcnt_reverse = dict()
for w in wdcnt:
    c = wdcnt[w]
    if c in wdcnt_reverse:
        wdcnt_reverse[c].append(w)
    else:
        wdcnt_reverse[c] = [w]
wdcnt_reverse

{1: ['onward', 'all', 'in', 'valley', 'of', 'death', 'rode', 'six', 'hundred'],
 2: ['the'],
 3: ['half', 'a', 'league']}

In [45]:
d = dict()
animals = ['cat','dog','bird','goat']
d[animals] = 1.61803

TypeError: unhashable type: 'list'

In [47]:
times_table = dict()
for x in range(1,13):
    if x not in times_table:
        times_table[x] = dict()
    for y in range(1,13):
        times_table[x][y] = x*y
times_table[7][9]

63

In [48]:
def naive_fibo(n):
    if n < 0:
        raise ValueError('Negative Fibonacci number?')
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return naive_fibo(n-1) + naive_fibo(n-2)
for i in range(8,13):
    print(naive_fibo(i))

21
34
55
89
144

In [49]:
known = {0:0, 1:1}
def fibo(n):
    if n in known:
        return known[n]
    else:
        f = fibo(n-1) + fibo(n-2)
        known[n] = f
        return(f)

In [50]:
import time
start_time = time.time()
naive_fibo(30)
time.time() - start_time

0.7243649959564209

In [51]:
start_time = time.time()
fibo(30)
time.time() - start_time

0.0001380443572998047

In [52]:
fibo(100)

354224848179261915075

In [53]:
fibo(1000)

43466557686937456435688527675040625802564660517371780402481729089536555417949051890403879840079255169295922593080322634775209689623239873322471161642996440906533187938298969649928516003704476137795166849228875

In [54]:
fibo(10000)

RecursionError: maximum recursion depth exceeded

In [122]:
lightbulb_on = False
def lights_on():
    lightbulb_on = True
lights_on()
lightbulb_on

False

In [125]:
lightbulb_on = False
def flip_switch():
    lightbulb_on = not lightbulb_on
flip_switch()

UnboundLocalError: local variable 'lightbulb_on' referenced before assignment

In [127]:
lightbulb_on = False
def flip_switch():
    global lightbulb_on
    lightbulb_on = not lightbulb_on
flip_switch()
lightbulb_on

True

In [128]:
flip_switch()
lightbulb_on

False

'3.6.3 (default, Oct  4 2017, 06:09:05) \n[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)]'

In [1]:
import sys
sys.version

'3.6.3 (default, Oct  4 2017, 06:09:05) \n[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)]'

In [3]:
t = 1,2,3,4,5
t

(1, 2, 3, 4, 5)

In [5]:
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [7]:
t = 'cat',
t

('cat',)

In [8]:
t = ('cat')
t

'cat'

In [18]:
t1 = tuple()
t1

()

In [19]:
t2 = tuple(range(5))
t2

(0, 1, 2, 3, 4)

In [24]:
t3 = tuple('goat')
t3

('g', 'o', 'a', 't')

In [25]:
tuple([[1,2,3],[4,5,6]])

([1, 2, 3], [4, 5, 6])

In [26]:
print(type(t2))

<class 'tuple'>

In [79]:
t = ('a', 'b', 'c', 'd', 'e')
t[0]

'a'

In [80]:
t[1:4]

('b', 'c', 'd')

In [81]:
t[-1]

'e'

In [82]:
len(t)

5

In [31]:
(1,2,3) < (2,2,3)

True

In [32]:
(2,2,20) <= (2,2,2)

False

In [33]:
(1,2,3) < (1,2,3,4)

True

In [35]:
('cat','dog','goat') > ('dog', 'cat', 'goat')

False

In [36]:
(1,'cat',(1,2,3)) > (0,'bird',(1,2,0))

True

In [37]:
(5,5,5) < (0,0,0,0)

False

In [48]:
fruits = ('apple', 'banana', 'orange', 'kiwi')
fruits[2] = 'grapefruit'

TypeError: 'tuple' object does not support item assignment

In [49]:
fruits = fruits[0:2] + ('grapefruit',) + fruits[3:] 
fruits

('apple', 'banana', 'grapefruit', 'kiwi')

In [50]:
fruits = fruits[0:2] + 'grapefruit', + fruits[3:]

TypeError: can only concatenate tuple (not "str") to tuple

In [47]:
fruits[0:2] + 'grapefruit',

TypeError: can only concatenate tuple (not "str") to tuple

In [55]:
a = 10
b = 5
print(a, b)

10 5

In [58]:
tmp = a
a = b
b = tmp
print(a, b)

10 5

In [59]:
a = 10
b = 5
(a,b) = (b,a)
print(a, b)

5 10

In [62]:
a = 3; b = 4; c = 5;
(a,b,c) = (a**2, b**2, c**2)
(a,b,c)

(9, 16, 25)

In [64]:
(x,y,z) = (2*'cat', 0.57721, [1,2,3])
(x,y,z)

('catcat', 0.57721, [1, 2, 3])

In [68]:
(x,y,z) = ('a','b','c','d')

ValueError: too many values to unpack (expected 3)

In [69]:
(x,y,z) = ('a','b')

ValueError: not enough values to unpack (expected 3, got 2)

In [71]:
email = 'klevin@umich.edu'
email.split('@')

['klevin', 'umich.edu']

In [73]:
(user,domain) = email.split('@')
user

'klevin'

In [74]:
domain

'umich.edu'

In [76]:
(x,y,z) = 'cat'
print(x, y, z)

c a t

In [89]:
import random
def five_numbers(t):
    t.sort()
    n = len(t)
    return (t[0],  t[n//4],  t[n//2], t[(3*n)//4], t[-1])
five_numbers([1,2,3,4,5,6,7])

(1, 2, 4, 6, 7)

In [90]:
randnumlist = [random.randint(1,100) for x in range(60)]
(mini,lowq,med,upq,maxi) = five_numbers(randnumlist)
(mini,lowq,med,upq,maxi)

(3, 27, 54, 73, 98)

In [91]:
t = divmod(13,4)
t

(3, 1)

In [93]:
(quotient,remainder) = divmod(13,4)
quotient

3

In [94]:
remainder

1

In [99]:
def my_min( *args ):
    return min(args)
my_min(1,2,3)

1

In [100]:
my_min(4,5,6,10)

4

In [101]:
def print_all( *args ):
    print(args)
print_all('cat', 'dog', 'bird')

('cat', 'dog', 'bird')

In [102]:
print_all()

()

In [104]:
min([])

ValueError: min() arg is an empty sequence

In [105]:
def test(x, y=10):
    return(x*y)
test(10)

100

In [106]:
t = (13, 4)
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [107]:
divmod(*t)

(3, 1)

In [109]:
*t

SyntaxError: can't use starred expression here (<ipython-input-109-f9912a2ca07d>, line 1)

In [108]:
t

(13, 4)

In [115]:
t1 = ['apple', 'orange', 'banana', 'kiwi']
t2 = [1, 2, 3, 4]
zip(t1,t2)

In [116]:
for tup in zip(t1,t2):
    print(tup)

('apple', 1)
('orange', 2)
('banana', 3)
('kiwi', 4)

In [118]:
for tup in zip(['a','b','c'],[1,2,3,4]):
    print(tup)

('a', 1)
('b', 2)
('c', 3)

In [119]:
for tup in zip(['a','b','c','d'],[1,2,3]):
    print(tup)

('a', 1)
('b', 2)
('c', 3)

In [121]:
for tup in zip([1,2,3],['a','b','c'],'xyz'):
    print(tup)

(1, 'a', 'x')
(2, 'b', 'y')
(3, 'c', 'z')

In [129]:
def count_matches(s, t):
    cnt = 0
    for (a,b) in zip(s,t):
        if a==b:
            cnt += 1
    return( cnt )
count_matches([1,1,2,3,5],[1,2,3,4,5])

2

In [130]:
count_matches([1,2,3,4,5],[1,2,3])

3

In [133]:
for t in enumerate('goat'):
    print(t)

(0, 'g')
(1, 'o')
(2, 'a')
(3, 't')

In [136]:
s = 'goat'
for i in range(len(s)):
    print((i,s[i]))

(0, 'g')
(1, 'o')
(2, 'a')
(3, 't')

In [137]:
hist = {'cat':3,'dog':12,'goat':18}
hist.items()

dict_items([('cat', 3), ('dog', 12), ('goat', 18)])

In [139]:
for (k,v) in hist.items():
    print(k, ':', v)

cat : 3
dog : 12
goat : 18

In [140]:
d = dict([(0,'zero'),(1,'one'),(2,'two')])
d

{0: 'zero', 1: 'one', 2: 'two'}

In [141]:
dict( zip('cat','dog'))

{'a': 'o', 'c': 'd', 't': 'g'}

In [143]:
name2netid = {('Einstein','Albert'): 'aeinstein',
 ('Noether','Emmy'): 'enoether',
 ('Shannon','Claude'): 'cshannon',
 ('Fan','Ky'): 'kyfan'}
name2netid

{('Einstein', 'Albert'): 'aeinstein',
 ('Fan', 'Ky'): 'kyfan',
 ('Noether', 'Emmy'): 'enoether',
 ('Shannon', 'Claude'): 'cshannon'}

In [144]:
name2netid[('Einstein','Albert')]

'aeinstein'

In [155]:
sparsemx = dict()
sparsemx[(1,4)] = 1
sparsemx[(3,5)] = 1
sparsemx[(12,13)] = 2
sparsemx[(11,13)] = 3
sparsemx[(19,13)] = 5
sparsemx

{(1, 4): 1, (3, 5): 1, (11, 13): 3, (12, 13): 2, (19, 13): 5}